<section>
  <h1>COVID-19’s outbreak worldwide</h1>

  <div style="display: flex; justify-content: space-between;">
    <form action="#" phx-submit="search" phx-change="search" style="flex: 1; margin-right: 1em;">
      <legend>Search:</legend>
      <label for="query">
        <input type="search" name="query" value="<%= @query %>" placeholder="Enter the name of a country..." />
      </label>
    </form>

    <form action="#" phx-change="sort_by">
      <legend>Order by:</legend>
      <label for="select">
        <select id="select" name="sort_by">
          <%= content_tag(:option, "Country", value: "", selected: @sort_by == "country") %>
          <%= content_tag(:option, "Infected", value: "infected", selected: @sort_by == "infected") %>
          <%= content_tag(:option, "Tested", value: "tested", selected: @sort_by == "tested") %>
          <%= content_tag(:option, "Recovered", value: "recovered", selected: @sort_by == "recovered") %>
          <%= content_tag(:option, "Deaths", value: "deceased", selected: @sort_by == "deceased") %>
        </select>
      </label>
    </form>
  </div>

  <%= if length(@results) == 0 do %>
    <p>There's no results for <i><%= @query %></i>.</p>
  <% else %>
    <table class="fixed-table">
      <thead>
        <th>Country</th>
        <th>Infected</th>
        <th>Tested</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </thead>

      <tfoot>
        <tr>
          <td>Total</td>
          <td><%= number_to_delimited(@summary["infected"], precision: 0) %></td>
          <td><%= number_to_delimited(@summary["tested"], precision: 0) %></td>
          <td><%= number_to_delimited(@summary["recovered"], precision: 0) %></td>
          <td><%= number_to_delimited(@summary["deceased"], precision: 0) %></td>
        </tr>
      </tfoot>

      <tbody>
        <%= for entry <- @results do %>
          <tr>
            <td><a href='<%= entry["moreData"] %>' target="_blank" noopener noreferer><%= entry["country"] %></a></td>
            <td><%= is_integer(entry["infected"]) && number_to_delimited(entry["infected"], precision: 0) || "-" %></td>
            <td><%= is_integer(entry["tested"]) && number_to_delimited(entry["tested"], precision: 0) || "-" %></td>
            <td><%= is_integer(entry["recovered"]) && number_to_delimited(entry["recovered"], precision: 0) || "-" %></td>
            <td><%= is_integer(entry["deceased"]) && number_to_delimited(entry["deceased"], precision: 0) || "-" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <small>Last update at <%= @last_update_at %>.</small>
    </p>
  <% end %>
</section>
