/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.fixed-table {
  position: relative;

  td,
  th {
    padding: 0.5em 1em;
  }

  tr th {
    background-color: #eee;
  }

  tr:nth-child(even) {
    background-color: rgba(#eee, .25);
  }

  th {
    position: sticky;
    top: 0;
  }

  tfoot {
    font-weight: bold;
  }
}

.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 14px;
  line-height: 1.5;
  will-change: transform;
  transform: translateY(-100%);
  transition: transform .16s;

  &-info {
    background-color: #47b881;
    color: #fff;
    margin: 0 auto;
  }

  &.is-visible {
    transition: transform .16s;
  }
}

footer {
  text-align: center;
}
