<p class="alert alert-info" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="info"
  phx-hook="Feedback">
  <%= live_flash(@flash, :info) %>
</p>

<main role="main" class="container">
  <%= @inner_content %>
</main>
